.skills {

    max-width: 1000px;

    margin: auto;

    padding: 100px 20px;
}

.skills h2 {

    text-align: center;

    margin-bottom: 40px;
}

.grid {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

    gap: 20px;
}

.card {

    padding: 20px;

    text-align: center;

    border: 1px solid #ddd;

    border-radius: 10px;

    background: white;

    font-weight: 600;
}